{% extends 'application/base.html' %}

{% block content %}
   <form action="{% url 'additem' %}" method="post" class="">
      {% csrf_token %}
      <input type="text" id="name" name="item_name" placeholder="Item Name" required><br>
      <input type="number" placeholder="Quantity" name="quantity" required><br>
      <input type="text" placeholder="Current stock" name="current_stock" required><br>
      {% comment %} <input type="date" placeholder="Recieved on" name="date_recieved" required><br> {% endcomment %}
      <button type="submit">Add Item</button>
   </form>
{% endblock  %}