{% extends "application/base.html" %}

{% block content %}
    <div class="content">
      
        <div class="container">
            <h1>All Babies</h1>
            <br>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Baby">
                <span class="input-group-text" id="basic-addon2">Search Baby</span>
              </div>
            <br> 
            <a class="btn btn-primary" href="/baby/add" role="button">Add Baby</a>
            <br>           
            <p class="p-2 text-lg">All Babies</p>
            <br>
        </div>
         
        <table class="w-full ">
            <thead class="bg-dark text-white">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Message</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for baby in babies %}
                    <tr>
                        <td>{{ baby.id }}</td>
                        <td><a class="text-blue-500" href="/baby/view/{{ baby.id}}"> {{ baby.fname }}  {{ baby.lname }}</a></td>
                        <td>{{ baby.age }}</td>
                        <td>{{ baby.gender }}</td>
                        <td>{{ baby.time_in }}</td>
                        <td>{{ baby.time_out }}</td>
                        <td>{{ baby.message_left }}</td>
                        <td><a href="/babyedit/{{ baby.id }}">Edit</a></td>
                        <td><a href="/baby/delete/{{ baby.id }}">Delete</a></td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table> 

    </div>

{% endblock  %}