{% extends "application/base.html" %}

{% block content %}
    <!-- Table presentation -->
    <div style="margin-top: 80px; padding-bottom: 100px;">
        <table class="babylist_table">
            <thead>
                <tr>
                    <a href="{% url 'transaction_list' %}">
                        <button style="background-color: beige; border-radius:5px; color:#83190de3"> Make Transaction</button>
                    </a> 
                    <a href="{% url 'doll_add' %}">
                        <button style="background-color: beige; border-radius:5px; color:#83190de3">Add item</button>
                    </a> 
                    <th>Item No</th>
                    <th>Item name</th>
                    <th>Item description</th>
                    <th>Stock quantity</th>
                    <th>Date added to list</th>
                    <th class="tableaction">Action ({{ count }} item types)</th>
                    
                </tr>  
            </thead>
            <tbody>
                {% for each in items %}
                <tr>
                    <td>{{ each.id }}</td>
                    <td>{{ each.item_name }} </td>
                    <td>{{ each.item_description }}</td>
                    <td>{{ each.item_quantity }}</td>
                    <td>{{ each.dateadded }}</td>
                    
                    
                    

                    <td class="action-buttons" style="display: flex;" >
                        
                        <button class="edit" onclick="location.href='/doll_edit/{{ each.id }}'">Edit</button>
                        <button class="delete" onclick="location.href='/doll_delete/{{ each.id }}'">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
