{% extends "application/base.html" %}
{% load static %}
<H1> Welcome To The Admin Dashboard</H1>

{% block content  %}
 {% comment %} {% if user.is_authenticated %}
    <h1>Welcome {{ first_name }}</h1>
    <h2>You are successfully Logged in!</h2>
    {% else %}
    <h1>You are not Logged in!</h1>
    {% endif %}  {% endcomment %}

        <!-- main -->
    <main class="main-container">
        <div class="main-cards">
            <div class="card">
                <div class="card-inner text-white">
                    <h3 class="text-white"> BABIES</h3>
                    <span class="material-icons-outlined">child_care</span>
                </div>
                <h1 class = "text-center">{{ count_babies }}</h1>
            </div>

            <div class="card">
                <div class="card-inner text-white">
                    <h3 class="text-white"> SITTERS</h3>
                    <span class="material-icons-outlined">
                        groups
                        </span>
                </div>
                <h1 class="text-center">{{ count_sitters }}</h1>
            </div>

            <div class="card border border-secondary ">
                <div class="card-inner text-white">
                    <h3 class="text-white">Dolls</h3>
                    <span class="material-icons-outlined border border-secondary">
                        inventory
                        </span>
                </div>
                <h1 class = "text-center">{{ count_items }}</h1>
            </div>

            <div class="card">
                <div class="card-inner text-white">
                    <h3 class="text-white">PAYMENTS</h3>
                    <span class="material-icons-outlined">
                        payments
                        </span>
                </div>
                <h1 class = "text-center">{{ count_payments }}</h1>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search  Name">
                    <span class="input-group-text" id="basic-addon2">Search  Name</span>
                  </div>
                  <br>
                <div class="search">
                    <a class="button" href="/sitter/add" role="button">Add Sitter</a>
                    <a class="button" href="/baby/add" role="button">Add Baby</a>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="text-dark" >Recent Babies</h2>
                        <table class=" h-100 w-100 text-dark text-center">
                            <thead class="  text-white text-center w-100 thead" >
                                <tr class="border border-secondary">
                                    <th class="border border-secondary">#</th>
                                    <th class="border border-secondary">Name</th>
                                    <th class="border border-secondary">Age</th>
                                    <th class="border border-secondary">Gender</th>
                                    <th class="border border-secondary">Time In</th>
                                    <th class="border border-secondary">Baby Number</th>
                                    <th class="border border-secondary">Stay Duration</th>
                                    <th class="border border-secondary"> Assigned to:</th>
                                </tr>
                            </thead>
                            <tbody >
                                {% for baby in recent_babies %}
                                <tr class="border border-secondary">
                                    <td>{{ baby.id }}</td>
                                    <td class=" border border-secondary"><a class="text-primary text-decoration-none" href="/baby/view/{{ baby.id }}">{{ baby.fname }}  {{ baby.lname }}</a></td>
                                    <td class=" border border-secondary">{{baby.age}}</td>
                                    <td class=" border border-secondary">{{ baby.gender }}</td>
                                    <td class=" border border-secondary">{{ baby.timein }}</td>
                                    <td class=" border border-secondary">{{baby.babynumber}}</td>
                                    <td class=" border border-secondary">{{ baby.stay_duration }}</td>
                                    <td class=" border border-secondary ">{{ baby.sittr }}</td>
                                    
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                            
                        </table>

                    </div>
                    <br><br>
                    <div class="col-lg-6">
                        <h2 class="text-dark" >Recent Sitters</h2>
                        <table class="  w-100  h-100 text-dark text-center border">
                            <thead class="text-white  text-center thead  w-100">
                                <tr class="border border-secondary">
                                    <th>#</th>
                                    <th class="border border-secondary">Name</th>
                                    <th class="border border-secondary">Age</th>
                                    <th class="border border-secondary">Gender</th>
                                    <th class="border border-secondary">Sitter Number</th>
                                    <th class="border border-secondary">Status</th>
                                    <th class="border border-secondary">Contact</th>
                                </tr>
                            </thead>
                            <tbody >
                                {% for sitter in recent_sitters %}
                                <tr class=" border border-secondary">
                                    <td>{{ sitter.id }}</td>
                                    <td class=" border border-secondary"><a class="text-primary text-decoration-none " href="/sitter/view/{{ sitter.id }}">{{ sitter.fname }}  {{ sitter.lname }}</a></td>
                                    <td class=" border border-secondary" >{{sitter.age}}</td>
                                    <td class=" border border-secondary">{{ sitter.gender }}</td>
                                    <td class=" border border-secondary">{{sitter.sitternumber}}</td>
                                    <td class=" border border-secondary">{{ sitter.status }}</td>
                                    <td class=" border border-secondary">{{ sitter.contact }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        
        
    

    </main>
          <!-- end main -->
{% endblock  %}