{% extends "application/base.html" %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <h1 class="text-center">Inventory</h1>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Items">
            <button>Search Items</button>
        </div>
        <br><br>
        <a href="/inventory/add" class="button"> Add Item</a>
        <br><br>
        <br>  <br>
        <p class="p-2 text-lg">Available Items</p>
        <table class="w-100 h-50  text-center">
            <thead class="thead text-white">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Available</th>
                    <th>Delete</th>
                    {% comment %} <th>Delete</th> {% endcomment %}
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for item in items %}
                <tr class="border border-secondary">
                    <td class=" border border-secondary">{{ item.id }}</td>
                    <td class=" border border-secondary"><a class="text-blue-500" href="/inventory/view/{{ iitem.id}}"> {{ item.item_name }}</a></td>
                    <td class=" border border-secondary">{{ item.quantity }}</td>
                    <td class=" border border-secondary">{{ item.current_stock }}</td>
                    {% comment %} <td><a class="button" href="/inventory/Delete/{{ item.id }}">Edit</a></td> {% endcomment %}
                    <td class=" border border-secondary"><a class="button" href="/inventory/delete/{{ item.id }}">Delete</a></td>
                {% endfor %}
            </tbody>
        </table>
    </div>
   
</div>

{% endblock  %}