{% extends "application/base.html" %}

{% block content  %}
    <div class="content">
        {% if message != none %}
        <div class="bg-primary">
            {{ messages }}
        </div>
        {% endif %}
        <form method="post" class="p-4 w-auto h-100 d-grid ">
            {% csrf_token %}
            <div class="">
                <select name="id" id="id">
                    {% for baby in babies %}
                        <option value="{{ baby.id }}">{{ baby.fname }} {{ baby.lname }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="">
                <input type="number" name="amount" required placeholder="Amount"  class="p-2  ">
            </div>
            <br>
            <div class="">
                <input type="date" name="payment_date" required placeholder="Payment Date"  class="p-2 border ">
            </div>
            <br>
            <button type="submit" class="btn btn-secondary w-25">Add Payment</button>
        </form>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Baby Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment Date</th>
                </tr>
            </thead>
            <tbody>
                {% for pay in pays %}
                    <tr>
                        <td>{{ pay.baby.fname }} {{ pay.baby.lname }}</td>
                        <td>{{ pay.amount }}</td>
                        <td>{{ pay.payment_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock  %}