{% extends "application/base.html" %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <h1 class="text-center">All Sitters</h1>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search sitter Name">
            <span class="input-group-text" id="basic-addon2">Search Sitter Name</span>
          </div>
        <br> 
        <a class="button" href="/sitter/add" role="button">Add sitter</a>
        <br>  <br>  
        <br>  <br>       
        <h2>Sitter List </h2>
        <br>
        <table class="w-100 h-50 text-center border border-secondary  ">
            <thead class=" text-white thead">
                <tr class="border border-secondary">
                    <th>#</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Sitter number</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for sitter in sitters %}
                    <tr class="border border-secondary">
                        <td>{{ sitter.id }}</td>
                        <td class=" border border-secondary"><a class="text-blue text-decoration-none" href="/sitter/view/{{ sitter.id}}"> {{ sitter.fname }}  {{ sitter.lname }}</a></td>
                        <td class=" border border-secondary">{{ sitter.age }}</td>
                        <td class=" border border-secondary">{{ sitter.gender }}</td>
                        <td class=" border border-secondary">{{ sitter.sitternumber }}</td>
                        <td class=" border border-secondary">{{ sitter.contact }}</td>
                        <td class=" border border-secondary">{{ sitter.status }}</td>
                        <td class=" border border-secondary"> <a class="button" href="/sitteredit/{{ sitter.id }}">Edit</a> </td>
                        <td class=" border border-secondary"><a class="button" href="/sitter/delete/{{ sitter.id }}">Delete</a></td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table> 
    </div>
     
    

</div>
{% endblock  %}