{% extends "application/base.html" %}


{% block content %}
<div class="content">
    <div class="p-2 flex gap-2 justify-end ">
        <a class="button" href="/babyedit/{{ baby.id }}">Edit</a>
       <br><br>
       <a class="button" href="/baby/delete/{{ baby.id }}">Delete</a>
    </div>
    <div class="w-full grid grid-cols-10 p-4">
        <div class="col-span-2 p-4">
            {% comment %} <img src="https://picsum.photos/200" class="h-[200px] rounded-lg" alt=""> {% endcomment %}
        </div>
        <div class="">
            <table>
                <tr>
                    <img src="https://picsum.photos/200" >
                </tr>
                <tr>
                    <th>Name: </th>
                    <td>{{ baby.fname }}  {{ baby.lname }} </td>
                </tr>
                <tr>
                    <th>Age: </th>
                    <td>{{ baby.age }} </td>
                </tr>
                <tr>
                    <th>Gender: </th>
                    <td>{{ baby.gender }} </td>
                </tr>
                <tr>
                    <th> Stay Dutation: </th>
                    <td> {{ baby.stay_duration }} </td>
                </tr>
                <tr>
                    
                </tr>
            </table>
        </div>
    </div>
    <h1 class="p-4">{{ baby.fname }}'s Information</h1>
    <table class="w-full mt-4 p-4">
        <thead class="bg-black text-white">
            <tr>
                <th>#</th>
                <th>Behaviour</th>
                <th>Amount Paid</th>
                <th>Date Paid</th>
                <th>Payment Status</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ payment.behaviour }}</td>
                <td>{{ payment.amount_paid }}</td>
                <td>{{ payment.date_paid }}</td>
                <td>{{ payment.payment_status }}</td>
                <td>{{ payment.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock  %}