{% extends "application/base.html" %}


{% block content %}
<div class="content">
    <div class="w-100  p-4">
        <div>
            <img src="https://picsum.photos/200" class="h-[200px] rounded-lgc" alt="">
        </div>
        <h1 class="p-4">{{ sitters.lname }}'s Information</h1>
        <br><br>
        <a class="button" href="/sitteredit/{{ sitters.id }}">Edit</a>
        <br><br>
        <div class="table">
            <table class="table w-100 h-100 text-dark text-center">
                <tr>
                    <th>Name:</th>
                    <td>{{ sitters.fname }}  {{ sitters.lname }}</td>
                </tr>
                <tr>
                    <th>Age:</th>
                    <td>{{ sitters.age }}</td>
                </tr>
                <tr>
                    <th>Gender:</th>
                    <td>{{ sitters.gender }}</td>
                </tr>
                <tr>
                    <th>Room:</th>
                    <td>{{ sitters.sitternumber }}</td>
                </tr>
                <tr>
                    <th>status:</th>
                    <td>{{ sitters.status }}</td>
                </tr>
            </table>
        </div>
    </div>
   
    {% comment %} <table class="w-full mt-4 p-4">
        <thead class="bg-black text-white">
            <tr>
                <th>#</th>
                <th>Behaviour</th>
                <th>Amount Paid</th>
                <th>Date Paid</th>
                <th>Sitter Activity</th>
                <th>Available</th>
            </tr>
        </thead> {% endcomment %}
    </table>
</div>
{% endblock  %}