body {
    margin: 0;
    padding: 0;
    background-color:#8FBFE0;
    color: rgb(43, 42, 42);
    font-family: "montserrat", sans-serif;
}
span {
    padding: 6px;
}
.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}

.grid-container{
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
    height: 100vh;
}
.header{
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.35);
    background-color: rgb(3, 94, 89);
}

.content{
    display:grid;
    grid-area: main;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menu-icon{
    display: none;
}
#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: rgb(3, 94, 89);
    

}
.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;

}


.sidebar-brand h3{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
}
.sidebar-title > span {
    display: none;
}
.sidebar-list{
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
    
}
.sidebar-list a {
    text-decoration: none;
}
.sidebar-list-item{
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    text-decoration: none ;
    color: seashell;

} 

.sidebar-list-item:hover{
    background-color: rgba(179, 172, 172, 0.2);
    cursor: pointer;
    
    
}
.sidebar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(187, 185, 185, 0.95);
    
}
.main-title{
    display: flex;
    justify-content: space-aroun;
}
.main-cards{
    display: flex;
    justify-content:space-between;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    border-radius: 20px;
    box-shadow: #263043;

}

.card:first-child{
    background-color:#643960fa;
}
.card:nth-child(2){
    background-color:#643960fa;
    
}

.card:nth-child(3){
    background-color:  #643960fa;

}

.card:nth-child(4){
    background-color: #643960fa;
}
.card-inner{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.card-inner > .material-icons-outlined{
    font-size: 45px;
}
.charts{
    display:  flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}
.charts-card{
    background-color: #263043;
    margin-top: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: hsl(220, 17%, 21%);   
}
.table{
    display: block;
    border: solid 1px  gray;
    border-collapse: collapse;
    background-color:#c9f3f1;
    /* width: 100%; */
    /* height: auto; */
    
}
table thead{
    background-color:#035E59;
    justify-content: space-between;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 4px;
    width: auto;
    height:auto;
    background-color:#c9f3f1;
    /* align-content: center; */
    
}
.container .fill {
    display:grid;
    /* margin: auto; */
    height:50%;
    width: 50%;
    padding: 5px;
    background-color: #263043;
    position:absolute;

}

.button {
    background-color: #643960fa;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    justify-content: space-around;
    
  }

  .button:hover {
    color: antiquewhite;
    background-color:#035E59;
  }
 
.btn{
    background-color:#29274C ;
}
.babe{
    display: grid;
    
    /* width: 100%; */
    /* height:auto; */
    color: black;
    
    background-color:rgb(3, 94, 89);
}